* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
:root {
  --sinbad: #92ccd4;
  --aquahaze: #eef3f5;
}
body {
  display: block;
  background-color: var(--aquahaze);
}
h2 {
  padding: 0em 1em 0em 0em;
  border-width: 0em 0.1em 0em 0em;
  border-style: solid;
}
section h4 {
  background-color: var(--sinbad);
  padding: 0.4em 0.4em 0.4em 0.4em;
  margin: 0em 0em 0.7em 0em;
}
header h1 {
  background-size: 10px;
  background-color: var(--sinbad);
  left: -12rem;
}

.holycow {
  padding: 0.1em 0.3em 0.1em 1em;
}

#header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.7em 1em 0.7em 0em;
  background-color: rgb(37, 37, 37);
}

#bruh {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20em;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX6Ibbu9xt85QXbjwL_EfUsSHsUtnfL_eGoQ&usqp=CAU);
  background-size: cover;
  background-position: center;
}
.okay {
  padding: 0.2em 0.2em 0.2em 0.2em;
  margin: 0em 1.5em 0.4em 0em;
  background-color: var(--sinbad);
}
.margin {
  margin: 2em 2em 0em 7em;
}
.margincontactme {
  margin: 2em 2em 0em 4.5em;
}
.column {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 0em 0em 1em;
  justify-content: space-around;
  align-content: space-around;
}

.aboutme {
  display: flex;
  justify-content: space-between;
}
h3 {
  padding: 0em 1em 0em 0em;
}

p {
  padding: 0em 0em 1em 0em;
}
.headerul {
  display: flex;
  list-style-type: none;
  text-decoration: underline;
  color: var(--sinbad);
}

.row {
  display: flex;
  flex-direction: row;
  height: 31.5em;
}

.bigbox {
  width: 100%;
  min-width: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 15em;
  background-image: url(http://placekitten.com/200/300);
  background-size: cover;
  background-position: center;
  border-style: solid;
}
.littlebox1 {
  width: 46%;
  height: 7em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(http://placekitten.com/200/300);
  background-size: cover;
  background-position: center;
  border-style: solid;
}
.littlebox2 {
  width: 46%;
  height: 7em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(http://placekitten.com/200/300);
  background-size: cover;
  background-position: center;
  border-style: solid;
}
.littlebox3 {
  width: 45%;
  height: 7em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(http://placekitten.com/200/300);
  background-size: cover;
  background-position: center;
  border-style: solid;
}
.littlebox4 {
  width: 45%;
  height: 7em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(http://placekitten.com/200/300);
  background-size: cover;
  background-position: center;
  border-style: solid;
}
.contactmeul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  text-decoration: underline;
}
.roww {
  display: flex;
}
