.main {
  display: flex;
  justify-content: space-around;
}

header {
  padding-bottom: 60px;
}
h4 {
  margin: 0;
  float: right;
}
#question {
  width: 75%;
}
#options {
  display: flex;
  flex-direction: column;
}
#holder {
  display: flex;
  justify-content: center;
}
.inner-box {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 75%;
  justify-content: space-evenly;
}
button {
  display: flex;
  justify-content: center;
  width: 50px;
}
